<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Otion</display-name>
  
<!--   웹사이트의 root("/")경로로 접속할때 불러올 파일을 지정한다. -->
  <welcome-file-list>  
    <welcome-file>/</welcome-file>
  </welcome-file-list>
  
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:kr/or/ddit/spring/*-context.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
  </listener>
  
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <!-- 1 -->
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
<!--   <filter> -->
<!--     <filter-name>crossScriptingFilter</filter-name> -->
<!--     <filter-class>kr.or.ddit.security.filter.CrossScriptingFilter</filter-class> -->
<!--   </filter> -->
<!--   <filter-mapping> -->
<!--     <filter-name>crossScriptingFilter</filter-name> -->
<!--     <url-pattern>/*</url-pattern> -->
<!--   </filter-mapping> -->
  
  <!-- 2 -->
  <filter>
    <filter-name>MultipartFilter</filter-name>
    <filter-class>org.springframework.web.multipart.support.MultipartFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MultipartFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- 3. Security 필터 -->
    <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- 인증 추가(0815) -->
<!--    <filter>  -->
<!--   	<filter-name>AuthenticateFilter</filter-name> -->
<!--   	<filter-class>kr.or.ddit.filter.AuthenticateFilter</filter-class> -->
<!--   </filter> -->
<!--   <filter-mapping> -->
<!--   	<filter-name>AuthenticateFilter</filter-name> -->
<!--   	<url-pattern>/*</url-pattern> -->
<!--   </filter-mapping>  -->
<!-- 	<filter>  -->
<!--   	<filter-name>AuthorizationFilter</filter-name> -->
<!--   	<filter-class>kr.or.ddit.filter.AuthorizationFilter</filter-class> -->
<!--   </filter> -->
<!--   <filter-mapping> -->
<!--   	<filter-name>AuthorizationFilter</filter-name> -->
<!--   	<url-pattern>/*</url-pattern> -->
<!--   </filter-mapping> -->
  <!-- 4. put,delete 요청으로 변경하기위한 mapper생성 -->
  <filter>
     <filter-name>HiddenHttpMethodFilter</filter-name>
     <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
  </filter>
  <filter-mapping>
     <filter-name>HiddenHttpMethodFilter</filter-name>
     <url-pattern>/*</url-pattern>
  </filter-mapping>
 
  
  <!-- DispatcherServlet 맨 처음 시작, servlet-context가 웹과 관련된 컨테이너  -->
  <servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
    <multipart-config/>
  </servlet>
  <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>/</url-pattern>  <!-- 이것만 해줘도 되는지 -->
  <!--   <url-pattern>/index.do</url-pattern> -->
  </servlet-mapping>
  <!-- 에러 발생  -->
  <error-page>
    <error-code>400</error-code>
    <location>/errors/error400.jsp</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
    <location>/errors/error401.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/errors/error404.jsp</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/errors/error405.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/errors/error500.jsp</location>
  </error-page>
</web-app>