<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<form action="student_mod_act" method="post">
	<table>
		<tr>
			<td>학번</td>
			<td><input type="text" name="s_id" value="{{student.s_id}}"></td>
		</tr>
		<tr>
			<td>이름</td>
			<td><input type="text" name="s_name" value="{{student.s_name}}"></td>
		</tr>
		<tr>
			<td>번호</td>
			<td><input type="text" name="tel" value="{{student.tel}}"></td>
		</tr>
		<tr>
			<td colspan="2">
			<input type="submit" value="수정">
			</td>
		</tr>
	</table>
</form>

	
</body>
</html>